name: Freeze release

on:
  workflow_dispatch:

jobs:
  freeze_release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - id: read-project-metadata-composite-action
        uses: ./.github/actions/read-project-metadata-composite-action
        with:
          package-json-filepath: ./package.json

      - name: Configure git identity
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Check if the tag exist
        run: |
          # Fetch tags
          git fetch --tags --force
          # Check
          if git rev-parse --verify --quiet "release-${{ steps.read-project-metadata-composite-action.outputs.version }}" >/dev/null; then
            echo "The Tag release-${{ steps.read-project-metadata-composite-action.outputs.version }} already exists."
            exit 1
          fi

      - name: Create tag
        run: git tag -a release-${{ steps.read-project-metadata-composite-action.outputs.version }} -m "Release ${{ steps.read-project-metadata-composite-action.outputs.version }}"

      - name: Push tag
        run: git push origin release-${{ steps.read-project-metadata-composite-action.outputs.version }}
